.v-table{
  color: #28344b;
  div.v-table__fixed{
    overflow: hidden;
  }
  th,td{
    background-clip: padding-box;
    &.td-border{
      border-right: 1px solid #d6dae7;
    }
  }
  th {
    font-weight: bold;
    border-bottom: 1px solid #d6dae7;
    background-color: #e9ecf7;
    .cell {
      color: #848ea1;
    }
  }
  td {
    &.descending,&.ascending{
      background: #f7fafe;
    }
  }
  .v-table__footer-wrapper thead div, .v-table__header-wrapper thead div {
    background-color: #e9ecf7;
  }
  .v-table__fixed-header-wrapper thead div {
    background-color: #e9ecf7;
  }
  .v-table--striped .v-table__body tr.v-table__row--striped td {
    background-color: #f7f8fc;
    &.descending,&.ascending {
      background-color: #f0f3fb;
    }
  }
  .v-table__body tr.hover-row.current-row>td, .v-table__body tr.hover-row.v-table__row--striped.current-row>td, .v-table__body tr.hover-row.v-table__row--striped>td, .v-table__body tr.hover-row>td {
    background-color: #e0eafc;
    &.descending,&.ascending{
      background-color: #dae6fc;
    }
  }
  &.v-table--border td,th {
    border-right: 1px solid #d6dae7;
    border-bottom: 1px solid #d6dae7;
  }
}